<h1>Customer Management</h1>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="Save Customer" routerLink="save">Save</mat-button-toggle>
  <mat-button-toggle value="update Customer" routerLink="update">Update</mat-button-toggle>
  <mat-button-toggle value="delete Customer" routerLink="delete">Delete</mat-button-toggle>
  <mat-button-toggle value="get Customer" routerLink="get">Get</mat-button-toggle>
  <mat-button-toggle value="load All Customers" routerLink="get-all">Load All</mat-button-toggle>
</mat-button-toggle-group>
<hr>
<router-outlet></router-outlet>
