<div class="main-outer">
  <h2>Get Customer Form</h2>
  <br>
  <br>

  <form [formGroup]="searchForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search</mat-label>
      <input formControlName="search" type="search" matInput [matAutocomplete]="auto" (keyup.enter)="searchUniqueData()">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of dataArray" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>

  <form [formGroup]="customerForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" type="text" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <input  formControlName="address" type="text" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Salary</mat-label>
      <input  formControlName="salary" type="number" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Avatar</mat-label>
      <input  formControlName="avatar" type="text" matInput>
    </mat-form-field>
  </form>

</div>
